.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
Rdata/
img/
docs/data/
docs/Rdata/
docs/img/
docs/csv/
passwords.R
suppRmd
Capelin_lf.txt
Capelin_bio.txt
Mackerel_bio_data_CANADA.txt
test_sample_southern.R
